/* Stylesheet for blog.html */

/* Universal */
:root {
    --bg-color: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header + children styles */
header {
    min-height: 10vh;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-top: 10px;
    padding-left: 12px;
}

#backSubmitButton {
    margin-top: 17px;
    margin-right: 10px;
    width: 75px;
    padding: 5px;
    border-radius: 5px;
}

/* Body, Main + children styles */
#main-container {
    min-height: 100vh;
    padding: 15px;
    border-bottom: 5px solid black;
}

/* Style class that will be applied to the div that will hold the blog post */
.blog-post {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: var(---bg-color);
}

/* style class for the header inside the div holding the blog post */
.post-header {
    border-bottom: 2px solid black;
}

/* Style class for the content section insdie the div holding the blog post */
.post-content {
    padding: 5px;
    margin-bottom: 20px;
}

/* Style class for all sections of a post to add space between them */
.post-sections {
    margin-bottom: 5px;
}

/* Style class for the author section */
.post-author {
    color: gray;
    font-size: 0.8rem;
}

/* Footer + children stylesheet */

footer {
    padding: 20px;
}

#copyright {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;

}