/* Stylesheet for index.html */

/* Universal styles */
:root {
    /* --light-mode: linear-gradient(#FFEEEE, #DDEFBB);
    --dark-mode: linear-gradient(#0f0c29, #302b63, #24243e); */
    --light-mode: #FFEEEE;
    --dark-mode: #0f0c29;
    --border-dark-mode: lightgray;
    --border-light-mode: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Header + children styles */
header {
    height: 10vh;
    border-bottom: 5px solid black;
}

.light-mode-togglebutton {
    float: right;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    padding-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/light-mode.png");
}

.dark-mode-togglebutton {
    float: right;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/dark-mode.png");
}

/* Body + children styles */

/* Body light mode styles */
.light-mode {
    /* background: linear-gradient(#FFEEEE, #DDEFBB); */
    background-color: var(--light-mode);
    color: var(--border-light-mode);
    transition: 0.5s;
    transition-property: background-color;
}

/* Body dark mode styles */
.dark-mode {
    background-color: var(--dark-mode);
    color: var(--border-dark-mode);
    transition: 0.5s;
    transition-property: background-color;
}

/* Main container */
#container {
    width: 95%;
    height: 100vh;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

/* Two child div under main */
.items {
    width: 100%;
    height: 100vh;
    align-content: center;
    text-align: center;
}

/* First div container - blog image */
#blog-img {
    border: 1px solid black;
    border-radius: 50%;
    width: 38vw;
    height: 38vw;
    /* Another way to create a circle. Not one of the width/height has to be auto */
    /* width: 60%; */
    /* aspect-ratio: 1 / 1; */
    align-content: center;
    margin: 0 auto;
    background: linear-gradient(#FDC830, #F37335);
}

/* second div cotnainer - Fprm element */
#blog-form-container {
    border-left: 5px solid black;
}



@media screen and (max-width: 480px) {
    #container {
        flex-direction: column;
    }

    #blog-form-container {
        border-width: 0;
        border-top: 5px solid black;
    }

}